div {
    background-color:seashell;
}

.thumbnail {
    max-width: 300px;
}

.productImage {
    width: 100%;
}

input:invalid {
    border: 2px solid red;
  }
  
input:valid {
    border: 1px solid black;
}

a {
    margin-right: 50px;
}