.thumbnail {
    max-width: 300px;
}

div {
    background-color:seashell;
}

.productImage {
    width: 100%;
}

input:invalid {
    border: 2px solid red;
  }
  
input:valid {
    border: 1px solid black;
}

.orderForm {
    margin-top: 50px;
}

#merchList {
    .row {
        border-bottom: 2px solid rgb(207, 207, 207);
        border-right: 2px solid rgb(207, 207, 207);
        border-left: 2px solid rgb(207, 207, 207);
        &>* {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    [class^=col] ~ [class^=col] {
        border-left: 2px solid rgb(207, 207, 207);
    }
    [class^=col] {
        text-align: center;
    }
    a {
        color: black;
        text-align: center;
        &:link, &:visited, &:active {
            text-decoration: none;
        }
        &:hover {
            text-decoration: none;
        }
    }
}