@font-face {
    font-family: 'Pumpkin-Story';
    src: url(../../public/fonts/Pumpkin-Story.ttf);
}

#merchList {
    a {
        font-family: 'Pumpkin-Story', sans-serif;
        font-size: 2em;
    }
}